// Colors

$primary: #1a1919;
$primary-dark: #0e0b1e;
$secondary: #32e0c4;
$white: #eeeeee;
$accent: #2f89fc;
$accent2: #5dd2e9;

// **
// FAQ PAGE
// **

.question {
  padding: 2rem;
  border-radius: 5px;
  background: $primary-dark;
}

.faq__question {
  font-weight: 600;
  font-style: italic;
}
.faq__answer {
  font-weight: 200;
}
