// Colors

$primary: #0a0a0a;
$primary-dark: #000000;
$secondary: #32e0c4;
$white: #eeeeee;
$accent: #d2e603;
$accent2: #5dd2e9;

// **
// FAQ PAGE
// **

.question {
  padding: 2rem;
  border-radius: 5px;
  background: $primary-dark;
}

.faq__question {
  font-weight: 600;
  font-style: italic;
}
.faq__answer {
  font-weight: 200;
}
