@import "../../variables";

// **
// FAQ PAGE
// **

.question {
  padding: 2rem;
  border-radius: 5px;
  background: $primary-dark;
}

.faq__question {
  font-weight: 600;
  font-style: italic;
}
.faq__answer {
  font-weight: 200;
}
