// Colors

$primary: #0a0a0a;
$primary-dark: #000000;
$secondary: #32e0c4;
$white: #eeeeee;
$accent: #d2e603;
$accent2: #5dd2e9;

// **
// SUPPORT PAGE
// **

label,
input,
textarea {
  display: block;
  margin-bottom: 1rem;
}

input[type="text"],
textarea {
  padding: 0.7rem 0.5rem;
  background-color: $primary-dark;
  color: $white;
  border: none;
  outline: none;
  border-radius: 5px;
}

textarea {
  background-color: $primary-dark;
  width: 100%;
  max-width: 600px;
  height: 250px;
  resize: none;
}
