@import "../variables";

.game-card {
  text-align: center;
  display: block;
  margin-bottom: 1rem;
  color: $white;

  a {
    color: $white;
  }

  .game-card__bg {
    min-height: 250px;
    background-position: center;
    background-size: cover;
    border-radius: 10px 10px 0 0;
  }

  .game-card__info {
    min-height: 250px;
    background-color: $primary-dark;
    border-radius: 0 0 10px 10px;
    padding: 2rem 0;

    .game-metacritic {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0.5rem 0;

      img {
        width: 24px;
      }
    }

    .game-metacritic__vote {
      border-radius: 4px;
      padding: 1px 4px;
      font-size: 0.8rem;
      display: inline-block;
      margin-left: 0.5rem;
    }

    .game-released {
      font-weight: 200;
      font-style: italic;
    }

    .platform {
      display: inline-block;
      font-weight: 100;
      border: 1px solid $secondary;
      border-radius: 2px;
      padding: 4px;
      font-size: 0.8rem;
      margin-bottom: 0.5rem;
    }

    .platform + .platform {
      margin-left: 0.5rem;
    }
  }
}
