@import "../variables";

.searchbar {
  flex-grow: 1;
}

.searchbar form {
  display: flex;
  justify-content: center;
}

.searchbar form label,
.searchbar input {
  margin: 0;
}

.searchbar form input {
  border: 2px solid $accent;
  background-color: $primary;
  border-radius: 30px;
  width: 90%;

  &:focus {
    background-color: $primary-dark;
  }

  &:focus-visible {
    outline: 0px solid $accent;
  }
}
