@import "../variables";

.searchbar {
  flex-grow: 1;
}

.searchbar form {
  display: flex;
  align-items: center;
}

.searchbar form label,
.searchbar input {
  margin: 0;
}

.searchbar form input {
  border: 2px solid $accent;
  border-radius: 30px;
  width: 90%;
}
