@import "../../variables";

.signup-form {
  input {
    background-color: $primary-dark;

    &:focus {
      background-color: $primary-dark;
    }

    &:focus-visible {
      outline: 2px solid $accent;
      border-radius: 3px;
    }
  }
}
