// **
// MEDIA QUERIES
// **

@media (min-width: 400px) {
  .row {
    display: flex;
    align-items: center;
  }

  // About
  // About
  // About

  .testimonial {
    text-align: left;
    .testimonial-msg {
      border-left: 1px solid $secondary;
      margin-left: 1rem;
      padding-left: 1rem;
    }
  }
}

@media (min-width: 550px) {
  // GamesGrid
  // GamesGrid
  // GamesGrid

  .games-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }

  .game-card {
    width: 49%;
  }
}

// 800px
// 800px
// 800px

@media (min-width: 800px) {
  .container {
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
  }

  // Navbar
  // Navbar
  // Navbar

  .nav-list {
    position: unset;
    flex-direction: row;
    background-color: transparent;
    width: auto;
    border: none;
  }

  .nav-link {
    padding: 5px;

    &.active {
      color: $accent;
    }
  }

  .nav-link + .nav-link {
    margin-left: 1rem;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .nav-branding {
    display: none;
  }

  // Hero
  // Hero
  // Hero

  .overlay {
    font-size: 2rem;
  }

  // GamesGrid
  // GamesGrid
  // GamesGrid

  .game-card {
    width: 32%;
  }

  // GameDetails
  // GameDetails
  // GameDetails

  .game-details {
    .game-content {
      display: flex;
      justify-content: space-between;

      .game-info {
        padding-top: 1rem;
        padding-right: 2rem;
        border: 0;
        width: 35%;
      }

      .game-description {
        border-left: 1px solid $accent;
        width: 65%;
        padding-left: 2rem;
      }
    }
  }

  // Footer
  // Footer
  // Footer

  .rawg-logo {
    text-align: center;
    width: 15%;
    margin: 0 auto;
  }
}

// 1000px
// 1000px
// 1000px

@media (min-width: 1000px) {
  .nav-logo {
    display: block;
    margin-right: 1rem;
  }

  .nav-logo__alt {
    display: none;
  }
}
