@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@import "./_variables";

:root {
  font-family: "Poppins", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  // color-scheme: light dark;
  // font-synthesis: none;
  // text-rendering: optimizeLegibility;
  // -webkit-font-smoothing: antialiased;
  // -moz-osx-font-smoothing: grayscale;
  // -webkit-text-size-adjust: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#App {
  color: $white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: $secondary;
  transition: all 0.8s ease;
}

img {
  width: 100%;
}
body {
  background: $primary;
}

// **
// REUSABLE
// **
.page-heading {
  color: $accent;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.sub-heading {
  color: $accent;
}

.container {
  width: 90%;
  margin: 0 auto;
}

.b-bottom {
  border-bottom: 2px solid $accent;
}

.padding-bot {
  padding-bottom: 1rem;
}

.margin-bot {
  margin-bottom: 1rem;
}

.btn {
  text-align: center;
  padding: 0.5rem 0.5rem;
  background-color: $primary-dark;
  font-family: inherit;
  color: $white;
  width: 6rem;
  border: 2px solid $accent;
  border-radius: 30px;
  cursor: pointer;

  &:active {
    transform: scale(0.96);
  }
}

.pos-relative {
  position: relative;
}

// **
// MAIN
// **

article {
  margin-bottom: 1rem;
}

.paragraph {
  font-weight: 300;
}

// **
// MEDIA QUERIES
// **

@media (min-width: 400px) {
  .row {
    display: flex;
    align-items: center;
  }

  // About

  .testimonial {
    text-align: left;
    .testimonial-msg {
      border-left: 1px solid $secondary;
      margin-left: 1rem;
      padding-left: 1rem;
    }
  }
}

@media (min-width: 800px) {
  .container {
    width: 70%;
    max-width: 800px;
    margin: 0 auto;
  }

  // Navbar
  .nav-list {
    position: unset;
    flex-direction: row;
    background-color: transparent;
    width: auto;
    border: none;
  }

  .nav-link {
    padding: 0;

    &.active {
      color: $white;
      border-bottom: 2px solid $white;
    }
  }

  .nav-link + .nav-link {
    margin-left: 1rem;
  }

  .hamburger {
    display: none;
    cursor: pointer;
  }

  .nav-branding {
    display: none;
  }

  // Hero

  .overlay {
    font-size: 2rem;
  }
}

@media (min-width: 1000px) {
  .nav-logo {
    display: block;
    margin-right: 1rem;
  }
}
